<!DOCTYPE html>
<html lang="en-US">
  <head>
    <%- include('../../components/head.ejs'); %>
    <script type="module" src="./assets/scripts/home/bundle.js" defer></script>
  </head>
  <body>
    <%- include('../../components/nav.ejs', {currentUrl: '/' }); %>

    <section id="home-static" class="section">
      <div class="columns is-vcentered">
        <div class="column is-6-desktop">
          <h1 class="title">
            Collateral assets can be leveraged to mint Ardana Stablecoins.
          </h1>
          <h6 class="subtitle">
            Open a Ardana Stablecoin Vault, deposit your collateral, and
            generate dUSD against it.
          </h6>
          <div class="columns is-vcentered is-mobile">
            <%
              [
                { fileBasename: "bitcoin", alt: "Bitcoin" },
                { fileBasename: "usdt", alt: "USDT" },
                { fileBasename: "ada", alt: "ADA" },
                { fileBasename: "eth", alt: "ETH" },
                { fileBasename: "bitcoin", alt: "Bitcoin" },
                { fileBasename: "usdt", alt: "USDT" },
                { fileBasename: "ada", alt: "ADA" },
              ].forEach(function(asset) { %>
              <div class="column is-narrow">
                <figure class="image">
                  <picture title="<%= asset.alt %>">
                    <source
                      srcset="/assets/images/<%= asset.fileBasename %>.jxl"
                      type="image/jxl"
                    />
                    <source
                      srcset="/assets/images/<%= asset.fileBasename %>.webp"
                      type="image/webp"
                    />
                    <img
                      src="/assets/images/<%= asset.fileBasename %>.png"
                      alt="<%= asset.alt %>"
							 loading="lazy"
                    />
                  </picture>
                </figure>
              </div>
            <% }) %>
          </div>
          <button
            class="button is-rounded is-responsive dusd-btn-has-background"
          >
            <span>connect a wallet</span>
          </button>
        </div>
        <div class="column is-offset-2-desktop is-4-desktop">
          <figure class="image">
            <picture>
              <source
                srcset="/assets/images/computer_screen.jxl"
                type="image/jxl"
              />
              <source
                srcset="/assets/images/computer_screen.webp"
                type="image/webp"
              />
              <img src="/assets/images/computer_screen.png" alt="" loading="lazy" />
            </picture>
          </figure>
        </div>
      </div>
    </section>

    <main id="home"><%- include('../../components/noscript.ejs'); %></main>

    <%- include('../../components/footer.ejs'); %>
  </body>
</html>
